
/*----------------footer--------------------- */

.fdiv h1
{
	text-align: center;
	font-size: 15px	;
	font-family:sans-serif;
	text-decoration: underline;
    margin: auto;
    padding: 0pc 10px 0px 10px;

}
.fdiv
{	width: 80%;
	background-color: grey;
	padding : 30px 0px 30px 0px;
	margin-left:10%;
	height:50;
}`

